ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}
	
#menu5 {
	width: 90%;
	border-style: none solid none solid;
	border-color: #D0D0D0;
	border-width: 1px;
	margin: 10px;
	}
	
#menu5 li a {
  	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
#menu5 li a:link, #menu5 li a:visited {
	color: #777;
	display: block;
	background: url(/images/menu5.gif);
	padding: 8px 25px 0 10px;
	text-align: right;
	}
	
#menu5 li a:hover {
	color: #fff;
	background: url(/images/menu5.gif) 0 -32px;
	padding: 8px 25px 0 10px;
	text-align: right;
	}
	
#menu5 li a:active {
	color: #fff;
	background: url(/images/menu5.gif) 0 -64px;
	padding: 8px 25px 0 10px;
	text-align: right;
	}

</style>