body { font:12px Helvetica, arial, sans-serif }
h1, h2, p { margin:10px 0 }
.hidden { visibility:hidden }


.message { padding:10px; margin:15px 0; display:block; text-align:left }
.message-title { font-weight:bold; font-size:1.25em }
.message-body { margin-top:4px }
.error, .notice, .success { padding:.8em; margin-bottom:1em; border:2px solid #ddd }
.error { background:#FBE3E4; color:#8a1f11; border-color:#FBC2C4 }
.notice { background:#FFF6BF; color:#514721; border-color:#FFD324 }
.success { background:#E6EFC2; color:#264409; border-color:#C6D880 }
.error a { color:#8a1f11 }
.notice a { color:#514721 }
.success a { color:#264409 }

/* *********************** Custom Styles below. *************************** */

/* Styles for map area at the top-right */
div#mapMenu {
  height: 123px;
  width: 100%;
  float: right;
  background-image: url('../img/map.png');
}
div#mapMenu ul {
  top: 28px;
  width: 97% !important;
  float: right;
}
div#mapMenu ul li:first-child {
  border-left: 1px solid #28659E;
}
div#mapMenu ul li {
/*background: -moz-linear-gradient(center top , #03417A 0%, #00386F 100%) repeat scroll 0 0 transparent;*/
    background: #03417a; /* Old browsers */
    background: -moz-linear-gradient(top, #03417a 0%, #00386f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#03417a), color-stop(100%,#00386f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #03417a 0%,#00386f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #03417a 0%,#00386f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #03417a 0%,#00386f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #03417a 0%,#00386f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03417a', endColorstr='#00386f',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #28659E;
    border-radius: 0 0 0 0;
    border-top: 1px solid #28659E;
    border-left: 1px solid #28659E;
    float: left;
    height: 32px;
    max-width: 200px;
    position: relative;
    /*width: 155px;*/
    z-index: 500;
}
div#mapMenu ul li a {
  text-align: center;
 /*width: 135px;*/
  padding: 3px 25px 0;
}
/* Styles for DegreeProgram Page tableau graph */
div.bigTableauGraph {
	width: 100%;
	height: 750px;
}
div.bigTableauPlaceholder {
	width: auto;
}
div#bigTableauMainContent {
	width: auto;
}